---
import Main from "../layouts/Main.astro";
---

<Main title="About">
    <article class="mx-16 h-custom flex flex-wrap items-center justify-center">
        <div class="lg:flex lg:flex-row lg:space-x-4 lg:items-center pb-8">
            <div class="lg:text-6xl text-4xl font-black mb-8 lg:mb-0">
                <h1 class="mb-3">
                    I'M A SENIOR RESEARCH DATA SPECIALIST AT <a
                        href="https://www.unimelb.edu.au/"
                        class="hover:underline">THE UNIVERSITY OF MELBOURNE</a>.
                </h1>
                <h1>
                    BEFORE THIS I SPENT 10 YEARS AS A POSTDOCTORAL RESEARCH
                    FELLOW IN THEORETICAL ASTROPHYSICS.
                </h1>
            </div>

            <div>
                <p class="mb-6 text-lg">
                    I'm a senior member of the <a
                        href="https://www.unimelb.edu.au/mdap"
                        >Melbourne Data Analytics Platform (MDAP)</a
                    >. Our group works with researchers from all disciplines
                    across the University of Melbourne and beyond, bringing
                    expertise and hands-on experience in data intensive
                    research, computation, and related infrastructure. My
                    expertise lies in scientific modelling, high-performance
                    computing (HPC) and a bit of bayesian statistics.
                </p>
                <p class="mb-6 text-lg">
                    Until 2022, I was an astrophysics postdoc, focussing on
                    understanding the role that the first galaxies had in
                    driving the Epoch of Reionisation; an important phase change
                    in the Universe's early history. To investigate this I made
                    use of simulations and numerical models, in particular,
                    semi-analytic galaxy formation models (SAMs).
                </p>
                <p class="text-lg">
                    To find out more about the diverse range of research I've
                    worked on over the years, check out my <a
                        href="/research"
                        class="hover:underline font-bold">research page</a
                    >.
                </p>
            </div>
        </div>
    </article>
</Main>
