---
import Main from "../layouts/main.astro";
---

<Main title="About">
    <article class="prose">
        <h3>
            I'M A SENIOR RESEARCH DATA SPECIALIST AND POSTDOCTORAL RESEARCH
            FELLOW IN THEORETICAL ASTROPHYSICS AT THE UNIVERSITY OF MELBOURNE.
        </h3>

        <p>
            Half of my time is spent doing astronomy research, mainly focussed
            on understanding the role that the first galaxies had in driving the
            Epoch of Reionisation; an important phase change in the Universe's
            early history. To investigate this I make use of simulations and
            numerical models, in particular, semi-analytic galaxy formation
            models (SAMs).
        </p>
        <p>
            In the other half of my time, I am a Senior Research Data Specialist
            in the Melbourne Data Analytics Platform, part of the University of
            Melbourne's Petascale Campus Initiative. Our group works with
            researchers from all disciplines across the University, bringing
            expertise and hands-on experience in data intensive research,
            computation, and related infrastructure.
        </p>
    </article>
</Main>
