---
import Main from "../layouts/Main.astro";
---

<Main title="Blog">
  <div class="flex flex-col justify-center items-center h-custom text-center">
    <h1 class="text-3xl font-bold">Nothing to see here...</h1>
    <h1 class="text-3xl font-bold">...yet!</h1>
  </div>
</Main>
