---
// Component Imports
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";

import { SITE_TITLE } from "../consts.ts";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<BaseHead />
		<title>{SITE_TITLE}</title>
	</head>

	<body>
		<Header height="80px" />
		<div class="relative">
			<div
				class="bg-cover bg-center h-custom w-full bg-fixed contrast-50 opacity-20"
				style="background-image: url('images/banner.jpg')"
			>
			</div>
			<div
				class="absolute top-0 left-0 right-0 z-10 h-full flex items-center justify-center"
			>
				<div>
					<h1 class="text-8xl text-center font-bold">Simon Mutch</h1>
					<h2 class="text-xl text-center text-slate-800">
						Senior Research Data Specialist and past creator of
						Universes
					</h2>
				</div>
			</div>
		</div>
	</body>
</html>
