---
import Main from "../layouts/Main.astro";
---

<Main title="Research">
<div class="m-8">
<h1 class="text-3xl lg:text-6xl font-black text-center mb-6">RESEARCH</h1>
<div class="prose mx-auto">
<p>I've had the opportunity to work on a wide range of research topics over my time in Academia.</p>

<p>
<ul class="flex flex-wrap mb-2 pl-32">
    <li class="w-1/2 px-2"><strong>Astrophysics</strong><sup>†</sup></li>
    <li class="w-1/2 px-2">Climate change</li>
    <li class="w-1/2 px-2">Biosecurity</li>
    <li class="w-1/2 px-2">Wildfires</li>
    <li class="w-1/2 px-2">Medical text de-identification</li>
    <li class="w-1/2 px-2">Phylogenetics</li>
    <li class="w-1/2 px-2">Hyperspectral imaging</li>
    <li class="w-1/2 px-2">Eye-tracking</li>
    <li class="w-1/2 px-2">... and more!</li>
</ul>
<span class="text-sm pl-32"><i>†: My main research area.</i></span>
</p>

</div>
</div>
</Main>