---
const { link = "#" } = Astro.props;
---

<a href={link}>
<button
  class="font-black border-slate-700 border-2 rounded-lg px-2 mb-1 w-fit hover:bg-indigo-200"
  >Find out more <span aria-hidden="true">→</span></button
>
</a>
