---
import '../styles/global.css';
let { height = '80px' } = Astro.props;
---

<header class="bg-white" style={`--header-height: ${height};`}>
    <nav
        class="mx-auto flex items-center justify-between p-6 px-8"
        aria-label="Global"
    >
        <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 flex items-center font-bold text-lg">
                <img class="h-8 w-auto rounded-full mr-2" src="favicon.ico" alt="" /> Simon Mutch
            </a>
        </div>
        <div class="flex flex-auto gap-x-12 px-12">
            <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
                >About me</a
            >
            <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
                >Research</a
            >
            <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
                >Blog</a
            >
        </div>
    </nav>
</header>
