---
import { Image } from 'astro:assets';
import favicon from "../assets/favicon-image.jpg";
import '../styles/global.css';
let { height = '80px' } = Astro.props;
---

<header class="bg-white" style={`--header-height: ${height};`}>
    <nav
        class="mx-auto flex items-center justify-between p-6 px-8"
        aria-label="Global"
    >
        <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 flex items-center font-bold text-lg leading-tight">
                <Image class="h-8 w-auto rounded-full mr-2" src={favicon} alt="" height=32 width=32 /> Simon Mutch
            </a>
        </div>
        <div class="flex md:gap-x-4 gap-x-2 px-4 justify-center">
            <a href="/about" class="text-sm font-semibold leading-6 text-gray-900 hover:text-indigo-600"
                >About</a
            >
            |
            <a href="/research" class="text-sm font-semibold leading-6 text-gray-900 hover:text-indigo-600"
                >Research</a
            >
            |
            <a href="/blog" class="text-sm font-semibold leading-6 text-gray-900 hover:text-indigo-600"
                >Blog</a
            >
        </div>
    </nav>
</header>
