---
import { Image } from 'astro:assets';
import FOMButton from '../components/FOMButton.astro';
const { image, title, link = "#" } = Astro.props;
---

<div class="max-w-sm mb-4 w-64 mx-0">
  <a href={link}>
    <Image class="w-full mx-auto overflow-hidden h-[200px]" src={image} width=250 height=200 alt="" />
  </a>
  <div class="p-1">
    <h2 class="mb-2 text-md font-bold tracking-tight">
      {title}
    </h2>
    <FOMButton link={link}/>
  </div>
</div>
