<div x-data="{ scrollOpacity: 100.0 }">
  <div
    class="flex flex-col items-center absolute bottom-0"
    style="left: calc(50% - 2rem);"
    :style="`opacity: ${scrollOpacity}%;`"
    @scroll.window="y = 100.0 * (1.0 - window.pageYOffset/window.visualViewport.height*2); scrollOpacity = Math.max( 0.0, Math.min(y, 100.0) );"
  >
    SCROLL
    <div class="block w-[2px] h-[50px] bg-black"></div>
  </div>
</div>
