---
const { title } = Astro.props;
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
	<head>
		<BaseHead />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
