---
const { content } = Astro.props;
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
	<head>
		<BaseHead />
		<title>{content.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
