---
import Main from "../../layouts/Main.astro";
---

<!-- TODO: Reduce the size of the image in the header -->

<Main title="DRAGONS-III">
  <div class="m-8">
    <h1 class="text-5xl px-16 font-black">
      <span
        class="w-full bg-cover bg-no-repeat bg-clip-text text-transparent overflow-hidden brightness-50"
        style="background-image: url('/images/DRAGONS-composite_EoR-PG.jpg')"
      >
        Dark-ages reionization and galaxy formation simulation III:<br
        />Modelling galaxy formation and the Epoch of Reionization
      </span>
    </h1>
  </div>
</Main>
